<div @onmouseup="ValidateHit" class="square @(SquareModel.PlayerSymbol == "x-symbol" ? "x-symbol" : "o-symbol")">
    @SquareModel.PlayerSymbol
</div>



@code {
    [Parameter]
    public SquareModel SquareModel { get; set; }

    [Parameter]
    public EventCallback<SquareModel> onMouseUp { get; set; }

    private async Task ValidateHit()
    {
        await onMouseUp.InvokeAsync(SquareModel);
    }
}
