@page "/"
@using TicTacToe.Components;
@using TicTacToe.Models;


<main>

    <h1>Tic Tac Toe with Blazor</h1>

    <div class="info-container">

            <h2>Game Info</h2>
            <p>@player1: X</p>
            <p>@player2: O</p>
            <p>@currentPlayer turn</p>
            <h2>Score</h2>
            <p>@score</p>

    </div>

    <div class="board">
        @foreach(var s  in Squares)
        {
            <Square SquareModel="s" onMouseUp="() => MouseUp(s)"/>
        }

    </div>

</main>

@code {
    private void MouseUp(SquareModel s)
    {
        if (isGameRunning)
        {
            ValidateHit(s);
            SwitchPlayers(); 
        }
    }


    
}
    