@using TicTacToe.Models;

@page "/"

<main>

    <h1>Welcome to Tic Tac Toe</h1>

    <form @onsubmit="AddPlayer">

        <div class="form-group">
            <label for="Id">ID:</label>
            <input type="text" id="Id" @bind="player.Id" class="form-control" />
        </div>

        <div class="form-group">
            <label for="PlayerName">Player Name:</label>
            <input type="text" id="PlayerName" @bind="player.PlayerName" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Add Player</button>

    </form>

</main>

@code {
    Players player = new Players(); // corrected variable name

    async Task AddPlayer()
    {
        
        PlayerService.AddPlayer(player);

       
        player = new Players();
    }
}