@page "/"
@using TicTacToe.Components;
@using TicTacToe.Models;


<main>

    <div class="info-container">
            <h1>Game Info</h1>
            <p>@player1: X</p>
            <p>@player2: O</p>
            <p>@currentPlayer's turn</p>
            <h2>@player1 VS @player2</h2>
            <p>@player1Score - @player2Score</p>

    </div>

    <div class="board">
        @foreach(var s  in Squares)
        {
            <Square SquareModel="s" onMouseUp="() => MouseUp(s)"/>
        }

    </div>

</main>

@code {
    private void MouseUp(SquareModel s)
    {
        if (isGameRunning)
        {
            ValidateHit(s);
            

        }
    }


    
}
    